body {
    background-image: url('https://images.pexels.com/photos/274506/pexels-photo-274506.jpeg?cs=srgb&dl=pexels-pixabay-274506.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }